:root{
    --primary: "#4d63e3",
    --secondry: '#edf1fb',
    --tertiary: '#98a6fa',
    --body: '#FAF9F6',
    --orange: '#d34305',
    --green: '#26ad05',
    --black: '#27292c',
    --grey: '#999fc6',
    --white: '#ffffff'
}